<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://onesheetdesign.com/wp-content/uploads/movie_poster_design.jpg);">
  <div class="container">
    <h1>Welcome to your personal Movies Library!</h1>
    <p>Save any number of movies in different lists.</p>
    <br>
    <%= link_to 'Add New List', new_list_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="col">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to list.name, list_bookmarks_path(list), class: "card-text" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
