<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)), url(https://i.imgur.com/CaTD18H.jpg);">
  <div class="container">
    <h1>Welcome to your personal Movies Library!</h1>
    <p>Save any number of movies in different lists.</p>
    <br>
    <%= link_to 'Add New List', new_list_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container">
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="col">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i1.wp.com/www.zekagraphic.com/wp-content/uploads/2021/03/10-Best-Movie-Poster-Design-Cover.jpg?fit=1920%2C1080&ssl=1)">
          <%= link_to list.name, list_bookmarks_path(list), class: "card-text" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
